<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ask me</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="content">

    <div *ngIf="gptService.busy$ | async">
      <h1 style="padding: 30px; text-align: center;">Creating a story.<br>Just for you.<br> Be patient</h1>
      <h6 style="padding: 30px; text-align: center; padding-top: 0px">Part {{partCount}}</h6>
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="(gptService.busy$ | async) === false" style="margin: 0 auto;">

      <ion-card>
        <ion-card-content>
          <div class="labels">
            <ion-chip *ngFor="let label of labels.animals" (click)="removeDetail(label, 'animals')">{{label}}</ion-chip>
            <ion-chip *ngFor="let label of labels.time" (click)="removeDetail(label, 'time')">{{label}}</ion-chip>
            <ion-chip *ngFor="let label of labels.flow" (click)="removeDetail(label, 'flow')">{{label}}</ion-chip>
          </div>
        </ion-card-content>
      </ion-card>

      <button (click)="send()" mat-button mat-raised-button style="background-color: green; width: 100%; margin-top: 0">
        CREATE STORY
      </button>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Animals</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <button (click)="addDetail('ANIMALS', option)" mat-button mat-raised-button
            style="background-color: green" *ngFor="let option of options.animals">
            {{option}}
          </button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Time</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <button (click)="addDetail('TIME', option)" mat-button mat-raised-button style="background-color: green"
            *ngFor="let option of options.time">
            {{option}}
          </button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Flow</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <button (click)="addDetail('FLOW', option)" mat-button mat-raised-button style="background-color: green"
            *ngFor="let option of options.flow">
            {{option}}
          </button>
        </ion-card-content>
      </ion-card>

      <p style="padding: 20px;">{{outputText}}</p>

      <div id="result" *ngIf="(gptService.content$ | async) as response" [innerHTML]="response"></div>
    </div>
  </div>

</ion-content>
