<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ask me</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="content">

    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <div style="height: 50%; display: flex; flex-shrink: 0; flex-direction: column; align-items: center;">
        <div *ngIf="(speechService.listening$ | async) === true" class="spinner-mic">
          <mat-spinner></mat-spinner>
          <mat-icon>mic</mat-icon>
        </div>

        <button mat-button mat-raised-button style="background-color: green" (click)="start()"
          *ngIf="(speechService.listening$ | async) === false && (speechService.speaking$ | async) === false && (gptService.busy$ | async) === false">
          <mat-icon>mic</mat-icon>
        </button>

        <button mat-button mat-raised-button style="background-color: red" (click)="shutup()"
          *ngIf="(speechService.speaking$ | async) === true && (gptService.busy$ | async) === false">
          <mat-icon>front_hand</mat-icon>
        </button>

        <div style="height: 200px; width: 100px"  *ngIf="(gptService.busy$ | async) === true">
          &nbsp;
        </div>

        <div id="prompt" *ngIf="speechService.content$ | async as speechContent">"{{speechContent}}"</div>
      </div>

      <ion-progress-bar type="indeterminate" *ngIf="gptService.busy$ | async"></ion-progress-bar>
    </div>

    <div id="result" *ngIf="(gptService.content$ | async) as response">{{response}}</div>
  </div>

</ion-content>
