<div style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center;">

  <div *ngIf="(busy$ | async) === false" style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center;">
    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>I want a website about</mat-label>
        <input matInput placeholder="Cats" value="Sushi" formControlName="websiteAbout">
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field> -->
    </form>

  </div>

  <div *ngIf="gptService.busy$ | async">
    <mat-spinner></mat-spinner>
    Loading .......
  </div>
</div>
